extends layout

block content
  .page-header
    h3 X-Change
    
    if !user
      - 
        var responseObject = {
          "code" : 302,
          "message" : 'Please login or create an account.'
         };

     
    responseLogger(responseObject);

    res.status(code).json(responseObject);
        
    else
      iframe(width="100%", height="500px", src="http://b908eecd.ngrok.io/room/gitrun/chat/18", name="xchange-box")