extends layout

block content
  h1 
    center LanguistiX
  p.lead 
    center === INSERT SLOGAN HERE ===
  hr
  .row
    .col-sm-6
      h2 What can you learn in our diverse community?
      p Tailored to your personal interests, we can offer you various languages tutoring through one to one conversation or study group.
      p
        a.btn.btn-default(href='/contact', role='button') Get started »
    .col-sm-6
      h2 How can you benefit from LinguistiX?
      p Are you afraid of studying abroad? Are you worrying about the cultural exchange? Do you want to make friends with your fancy college peers? More than just language tutoring, we can offer you useful and first-hand advice on university life and academic from senior students or local students.
      p
        a.btn.btn-default(href='#', role='button') Get started »
    .col-sm-6
      h2 Student Experience
      p Not sure whether you need LinguistiX? Come and check out our previous students' experience
      p  
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 We hope to hear your voice!
      p No matter whether you have used LinguistiX before or not, we want to hear your voice! Our goal is always to provide a better LinguistiX for UW students. Don't hesitate and tell us how do you like our LinguistiX and your advice! We do appreciate advice!!!
      p
        a.btn.btn-default(href='#', role='button') View details »
