extends layout

block content
  h1 
    center LanguistiX
  p.lead 
    center === INSERT SLOGAN HERE ===
  hr
  .row
    .col-sm-6
      h2 What can you learn in our diverse community?
      p Check out and see our diverse UW community. Tailored to your personal interests, we can offer you various language tutoring through one to one conversation or study group.
      p
        a.btn.btn-default(href='/contact', role='button') Get started »
    .col-sm-6
      h2 How can you benefit from LinguistiX?
      p Are you afraid of studying abroad? Are you worrying about the brand new life in your university? Do you want to make friends with your fancy college peers? More than just language tutoring, we can offer you useful and first-hand advice from senior students or local students. Everybody in LinguistiX is here to help you learn more about Canadian culture and get involved in your university life. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »